[submodule "rkif"]
	path = rkif
	url = https://github.com/darianyang/rkif
[submodule "gamd-plot"]
	path = gamd-plot
	url = https://github.com/darianyang/gamd-plot
[submodule "lab"]
	path = lab
	url = https://github.com/darianyang/lab
[submodule "nmr"]
	path = nmr
	url = https://github.com/darianyang/nmr
